= form_for [@project, @task] do |f|
  = render partial: 'layouts/error_explanation', locals: { object: @task }

  .mb-3
    = f.label :title, class: 'form-label'
    = f.text_field :title, class: 'form-control'
  .mb-3
    = f.label :date_start, class: 'form-label'
    = f.datetime_field :date_start, class: 'form-control'
  .mb-3
    = f.label :date_end, class: 'form-label'
    = f.datetime_field :date_end, class: 'form-control'
  .mb-3
    = f.check_box :state
    = f.label :state
  .mb-3
    = f.submit 'Save', class: "btn btn-dark"
    = link_to 'Back', project_tasks_path(@project), class: "btn btn-light"
