%h1 Listing tasks

%table.table
  %thead
    %tr
      %th Title
      %th |
      %th Date start
      %th Time start
      %th |
      %th Date end
      %th Time end
      %th |
      %th State
      %th |
      %th Deadline
      %th |
      %th Project
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.title
        %td|
        %td= task.date_start.strftime("%d/%m/%Y")
        %td= task.date_start.strftime("%H:%M:%S")
        %td|
        %td= task.date_end.strftime("%d/%m/%Y")
        %td= task.date_end.strftime("%H:%M:%S")
        %td|
        %td= link_to task.human_state, project_task_change_status_path(@project, task), data: { turbo_method: :put }
        %td|
        %td= task.endline_time(task.date_end)
        %td|
        %td= link_to 'Show', project_task_path(@project, task), class: 'btn btn-success'
        %td= link_to 'Edit', edit_project_task_path(@project, task), class: 'btn btn-success'
        %td= link_to 'Destroy', project_task_path(@project, task), method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete}, class: 'btn btn-danger'
%br

= link_to 'New Task', new_project_task_path(@project), class: 'btn btn-dark'
