%p#notice= notice

%p
  %b Title:
  = @task.title
%p
  %b Date start:
  = @task.human_date_start
%p
  %b Date end:
  = @task.human_date_end
%p
  %b State:
  = @task.human_state

= link_to 'Edit', edit_project_task_path(@project, @task)
\|
= link_to 'Back', project_tasks_path(@project, @task)
