%p#notice= notice

%p
  %b Title:
  = @task.title
%p
  %b Date start:
  = @task.formated_start_date
%p
  %b Date end:
  = @task.formated_end_date
%p
  %b State:
  = @task.human_state

= link_to 'Edit', edit_project_task_path(@project, @task), class: 'btn btn-info'
\|
= link_to 'Back', project_tasks_path(@project), class: 'btn btn-light'
