%p#notice= notice

%p
  %b Title:
  = @task.title
%p
  %b Date start:
  = @task.date_start.strftime('%d/%m/%Y %H:%M')
%p
  %b Date end:
  = @task.date_end.strftime('%d/%m/%Y %H:%M')
%p
  %b Situation:
  = @task.validate_situation
%p
  %b State:
  = @task.human_state

= link_to 'Edit', edit_project_task_path(@project, @task)
\|
= link_to 'Back', project_tasks_path(@project)
