%h1 Listing projects

%table.table
  %thead
    %tr
      %th.col Title
      %th.col Completed percent
      %th.col
      %th.col
      %th.col
      %th.col

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title
        %td= project.format_percent
        %td= link_to 'Tasks', project_tasks_path(project)
        %td= link_to 'Show', project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }

%br

= link_to 'New Project', new_project_path, class: 'btn btn-dark'
